/*
0-480px: Small Phones 
480 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop


1em = 16px
*/
/*
COLORS:
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus {
  outline: 0 !important; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: #85a2e2; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.03rem;
  line-height: 1.8;
  color: #818181;
  background-color: #fff;
  padding: 0;
  text-rendering: optimizeLegibility; }
  @media only screen and (max-width: 37.5em) {
    body {
      width: 100%;
      line-height: 1.6;
      font-size: 1.4rem; } }

.heading-primary {
  font-size: 5.5rem;
  font-weight: 700;
  color: #34343b;
  line-height: 1.3; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      line-height: 1.2;
      width: 100%;
      font-size: 3.2rem; } }

.heading-secondary {
  color: #34343b;
  font-size: 4rem;
  font-weight: 700;
  word-spacing: 0.5rem;
  margin-bottom: 1.6rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      line-height: 1.2;
      font-size: 3rem; } }

.heading-tertiary {
  font-size: 2.5rem;
  color: #34343b;
  line-height: 1.4;
  margin-bottom: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      margin-bottom: 1rem;
      font-size: 2rem; } }

.heading-bold {
  font-weight: 700; }

.heading-tiny {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase; }

.paragraph {
  margin: 0 auto;
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      width: 100%; } }

.caption {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #34343b; }

.u-center-text {
  text-align: center !important; }

.u-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-down {
  margin-bottom: -0.5rem !important; }

.u-grayscale {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.u-shadow {
  box-shadow: 0.5rem 3rem 6rem 0rem rgba(26, 49, 100, 0.1); }

.card {
  position: relative;
  transition: transform 0.4s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .card {
      margin: 0; } }
  .card:hover {
    transform: translateY(-0.5rem); }
    @media only screen and (max-width: 56.25em) {
      .card:hover {
        transform: translateY(-1rem) rotate(-2deg); } }
  .card__wrapper {
    margin: 1rem;
    position: relative;
    border-radius: 2rem;
    padding: 2rem;
    color: #818181;
    text-align: center;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .card__wrapper {
        margin: 0 auto;
        padding: 1rem; } }
  .card__details {
    margin-top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .card__details {
        margin: 1rem auto; } }
  .card__pic {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .card__img {
    border-radius: 50%;
    width: 70% !important;
    transition: transform 1s ease-out;
    box-shadow: 0rem 0.5rem 1.5rem 0.2rem rgba(129, 129, 129, 0.1); }
    @media only screen and (max-width: 37.5em) {
      .card__img {
        width: 30% !important; } }
  .card__img-full {
    width: auto !important;
    max-width: 90%;
    height: auto; }
  .card__name {
    text-transform: uppercase;
    color: #34343b;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 0.5rem; }
  .card__title {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #083baa; }
  .card__details {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #818181;
    text-align: center; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  width: 100%;
  margin: 12rem auto; }
  @media only screen and (max-width: 75em) {
    .row {
      margin: 8rem auto; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      margin: 6rem auto; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      display: block; } }
  .row:last-child {
    margin-bottom: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .row:last-child {
        margin-bottom: 2.5rem; } }
  .row__img {
    width: 50%;
    height: auto;
    border-radius: 3rem;
    box-shadow: 0.5rem 3rem 6rem 0rem rgba(26, 49, 100, 0.1); }
    .row__img-right {
      order: -1; }
    @media only screen and (max-width: 37.5em) {
      .row__img {
        width: 100%; } }
  .row__text {
    width: 42%; }
    @media only screen and (max-width: 37.5em) {
      .row__text {
        width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .grid-item:not(:last-child) {
    margin-bottom: 2.5rem; } }

.grid-item__wrapper {
  margin: 4rem; }
  .grid-item__wrapper img {
    border-radius: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .grid-item__wrapper {
      margin: 1.5rem; } }

.list__item {
  list-style: none;
  position: relative;
  padding-left: 2rem; }
  .list__item:after {
    content: "";
    width: 6px;
    height: 6px;
    float: left;
    position: absolute;
    left: 0;
    top: 1.2rem;
    background: #85a2e2; }
  .list__item-secondary {
    list-style: none;
    position: relative;
    padding-left: 1.6rem; }
    .list__item-secondary:after {
      content: "";
      width: 5px;
      height: 2px;
      float: left;
      position: absolute;
      left: 0;
      top: 1.2rem;
      background: #85a2e2; }

.grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .grid::after {
    content: "";
    display: table;
    clear: both; }
  .grid div[class*="col-"] {
    float: left; }
    .grid div[class*="col-"] img {
      width: 100%; }
  .grid .col-1-of-2 {
    width: calc(100%/2); }
    @media only screen and (max-width: 56.25em) {
      .grid .col-1-of-2 {
        width: 100% !important; } }
  .grid .col-1-of-3 {
    width: calc(100%/3); }
    @media only screen and (max-width: 75em) {
      .grid .col-1-of-3 {
        width: calc(100%/2) !important; } }
    @media only screen and (max-width: 56.25em) {
      .grid .col-1-of-3 {
        width: 100% !important; } }
  .grid .col-1-of-4 {
    width: calc(100%/4); }
    @media only screen and (max-width: 75em) {
      .grid .col-1-of-4 {
        width: calc(100%/3) !important; } }
    @media only screen and (max-width: 56.25em) {
      .grid .col-1-of-4 {
        width: calc(100%/2) !important; } }
    @media only screen and (max-width: 37.5em) {
      .grid .col-1-of-4 {
        width: 100% !important; } }
  .grid .col-1-of-5 {
    width: calc(100% / 5); }
    @media only screen and (max-width: 56.25em) {
      .grid .col-1-of-5 {
        width: calc(100%/4) !important; } }
    @media only screen and (max-width: 37.5em) {
      .grid .col-1-of-5 {
        width: calc(100%/3) !important; } }
  .grid .col-2-of-5 {
    width: calc(2 * (100% / 5));
    text-align: left; }
    @media only screen and (max-width: 37.5em) {
      .grid .col-2-of-5 {
        width: calc(2 * 100%/3) !important; } }

.header {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-around; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100vh; } }
  .header__textbox {
    max-width: 65rem;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .header__textbox {
        width: 35vw;
        left: 8%; } }
    @media only screen and (max-width: 56.25em) {
      .header__textbox {
        min-width: 80vw;
        position: static;
        top: auto;
        left: auto;
        bottom: 1rem;
        margin: 0 auto;
        transform: translate(0, 0); } }
    .header__textbox-content {
      color: #34343b; }
      @media only screen and (max-width: 56.25em) {
        .header__textbox-content {
          margin: 0 auto; } }
    .header__textbox-text {
      color: #818181;
      margin-top: 2rem;
      font-size: 2.2rem;
      line-height: 1.6; }
      @media only screen and (max-width: 75em) {
        .header__textbox-text {
          width: 35vw; } }
      @media only screen and (max-width: 56.25em) {
        .header__textbox-text {
          width: 100%;
          margin: 3rem auto 0;
          font-size: 2rem; } }

.nav {
  height: 5.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between; }
  .nav__menu {
    padding: 1.5rem 2rem;
    z-index: 100;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .nav__menu {
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        background: rgba(237, 238, 243, 0.99);
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 1px 2px 0.5rem rgba(129, 129, 129, 0.2);
        transition: all 0.2s;
        margin: 5rem -3rem; } }
    .nav__menu.visible {
      opacity: 1;
      visibility: visible; }
  .nav__item {
    list-style: none;
    display: inline-block;
    transform-origin: bottom;
    transition: 0.2s ease-in; }
    .nav__item:not(:last-child) {
      margin-right: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__item {
        display: block;
        text-align: left;
        margin-left: 2rem; }
        .nav__item:not(:last-child) {
          margin-bottom: 2rem;
          margin-right: 2rem; } }
    .nav__item:hover {
      transform: scale(1.01); }
  .nav__link {
    text-decoration: none;
    color: #818181;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in; }
    .nav__link:hover {
      color: #90e1fa; }
  .nav__left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000; }
  .nav__logo {
    height: 3.5rem;
    margin: 2.5rem 8rem;
    transition: all ease-in 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .nav__logo {
        margin: 2rem 6rem; } }
  .nav__right {
    position: fixed;
    top: 1rem;
    right: 8rem;
    z-index: 2000;
    display: flex;
    align-items: top; }
    @media only screen and (max-width: 37.5em) {
      .nav__right {
        right: 6rem; } }
  .nav__sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 1rem rgba(128, 128, 128, 0.2);
    border-bottom-left-radius: 5px; }
  .nav__sticky .nav__logo {
    height: 3.5rem;
    margin-top: 1rem;
    background-color: transparent; }
  .nav__sticky .nav__right,
  .nav__sticky .nav__menu {
    top: 0rem;
    transition: all ease-in 0.2s; }

.menu {
  display: none;
  position: relative;
  width: 1.6rem;
  height: 1.2rem;
  margin-right: 1.5rem;
  margin-top: 1.8rem; }
  .menu-bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #818181;
    border-radius: 2px;
    overflow: hidden; }
    .menu-bar:first-child {
      top: 0; }
    .menu-bar:nth-child(2) {
      top: 5px;
      width: 80%; }
    .menu-bar:nth-child(3) {
      top: 10px; }
    .menu-bar::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #90e1fa;
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 100;
      transition: 0.3s; }
  .menu:hover .menu-bar::after {
    left: 0%; }
  .menu:hover .menu-bar:nth-child(2)::after {
    transition-delay: 0.15s; }
  .menu:hover .menu-bar:nth-child(3)::after {
    transition-delay: 0.3s; }
  .menu:hover {
    transform: scale(1.08); }
  @media only screen and (max-width: 56.25em) {
    .menu {
      display: block; } }

.footer {
  width: 100%;
  padding: 4rem;
  padding-top: 6rem;
  background-color: #34343b;
  color: #edeef3;
  font-size: 1.4rem;
  font-weight: 400; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 6rem 3rem; } }
  .footer__grid {
    display: flex;
    justify-content: space-between !important; }
  .footer__brand, .footer__build, .footer__about, .footer__social {
    width: 30%;
    padding: 1rem 4rem; }
    @media only screen and (max-width: 75em) {
      .footer__brand, .footer__build, .footer__about, .footer__social {
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__brand, .footer__build, .footer__about, .footer__social {
        padding: 1rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__brand, .footer__build, .footer__about, .footer__social {
        padding: 1rem 0rem;
        width: 50%; } }
  .footer__brand {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__brand {
        width: 100%; } }
  .footer__list {
    list-style: none; }
    .footer__list a {
      text-decoration: none;
      color: #edeef3;
      font-weight: 300; }
      .footer__list a:hover {
        color: #90e1fa; }
  .footer__logo {
    width: 30%;
    opacity: 0.8;
    margin: 1rem auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        width: 5rem; } }
  .footer__icon {
    display: inline-block;
    max-width: 1.2rem;
    margin-right: 2px; }
  .footer__text {
    display: inline-block; }

.section-about,
.section-team,
.section-partner,
.section-portfolio {
  position: relative;
  padding: 6rem 15rem; }
  @media only screen and (max-width: 75em) {
    .section-about,
    .section-team,
    .section-partner,
    .section-portfolio {
      padding: 6rem 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about,
    .section-team,
    .section-partner,
    .section-portfolio {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-about,
    .section-team,
    .section-partner,
    .section-portfolio {
      padding: 4rem; } }
  .section-about .row,
  .section-team .row,
  .section-partner .row,
  .section-portfolio .row {
    position: relative; }
  .section-about .btn,
  .section-team .btn,
  .section-partner .btn,
  .section-portfolio .btn {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 1.6rem; }

.section-team {
  background-color: #edeef3; }

.section-portfolio {
  background-color: rgba(237, 238, 243, 0.4); }

.section-partner {
  padding-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-partner {
      padding-bottom: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-partner {
      padding-bottom: 3rem; } }
