

/*
COLORS:
*/

$color-primary: #083baa;
$color-primary-light: #85a2e2;
$color-primary-dark: #1a3164;
$color-highlight:#90e1fa;
$color-white: #fff;
$color-gray: #8a8a8b;
$color-gray-dark:#34343b;
$color-gray-light: #edeef3;

// GRID
$grid-width: 120rem;
// $gutter-vertical: 1rem;
// $gutter-horizontal: 1rem;