.nav {
    height: 5.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;

    &__menu {
        padding: 1.5rem 2rem;
        z-index: 100;
        transition: all 0.2s ease-in-out;

        @include respond(tab-port) {
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
            background: rgba($color-gray-light,0.99);
            padding: 2rem;
            border-radius: 5px;
            box-shadow: 1px 2px 0.5rem rgba($color-gray,0.2);
            transition: all 0.2s;
            margin: 5rem -3rem;

        }
        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }
    &__item {
        list-style: none;
        display: inline-block;
        transform-origin: bottom;
        transition: 0.2s ease-in;

        &:not(:last-child){ 
            margin-right: 3rem;
        }
        @include respond(tab-port){
            display: block;
            text-align: left;
            margin-left: 2rem;
            &:not(:last-child){
                margin-bottom: 2rem;
                margin-right: 2rem;
            }
        }
        &:hover {
            transform: scale(1.01);
        }
    }
    &__link {
        text-decoration: none;
        color: $color-gray;
        background-color: rgba($color-white,0.3);
        border-radius: 0.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.2s ease-in;

        &:hover {
            color: $color-highlight;
        }

    }

//left
    &__left {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
    }
    &__logo {
        height: 3.5rem;
        margin: 2.5rem 8rem;
        transition: all ease-in 0.2s;

        @include respond(phone){
            margin: 2rem 6rem;
        }
    }

//right    
    &__right {
        position: fixed;
        top: 1rem;
        right: 8rem;
        z-index: 2000;
        display: flex;
        align-items: top;

        @include respond(phone){
            right: 6rem;
        }
    }

//sticky    
    &__sticky {
        position: fixed;
        background-color: rgba($color-white,0.95);
        box-shadow: 0 1px 1rem rgba(gray,0.2);
        border-bottom-left-radius: 5px;
    }  
    &__sticky &__logo{
        height: 3.5rem;
        margin-top: 1rem;
        background-color: transparent;
    }
    &__sticky &__right,
    &__sticky &__menu {
        top: 0rem;
        transition: all ease-in 0.2s;
    }  
}

.menu {
    display: none;
    position: relative;
    width: 1.6rem;
    height: 1.2rem;
    margin-right: 1.5rem;
    margin-top: 1.8rem;
    
    &-bar {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-gray;
        border-radius: 2px;
        overflow: hidden;

        &:first-child {
            top: 0;
        }
        &:nth-child(2){
            top: 5px;
            width: 80%;
        }
        &:nth-child(3){
            top: 10px;
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: $color-highlight;
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 100;
            transition: 0.3s;
        }        
    }

    &:hover &-bar::after{
        left: 0%;
    }

    &:hover &-bar:nth-child(2)::after{
        transition-delay: 0.15s;
    }

    &:hover &-bar:nth-child(3)::after{
        transition-delay: 0.3s;
    }
    
    &:hover{
        transform: scale(1.08);
    }

    @include respond(tab-port){
        display: block;
    }
}