.u-center-text { text-align: center !important; }
.u-center {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
}

.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-small { margin-top: 2rem !important; }
.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-down { margin-bottom: -0.5rem !important; }

.u-grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.u-shadow {
    box-shadow: 0.5rem 3rem 6rem 0rem rgba($color-primary-dark,0.1);
}